@using Data.Enums
@using Microsoft.AspNetCore.Mvc.Rendering
@model Data.Models.Education.UniversityViewModel

@{
    ViewData["Title"] = "Create";

}

<h1>Create Institution</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select id="drpManagerList" class="form-control" asp-for="ManagerId" asp-items="@(new SelectList(Model.ManagerList, "Id", "Name"))">
                    <option value="">--Select manager--</option>
                </select>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="form-group">
                @*@Html.DropDownListFor(m => m.InstitutionType, 
                    new SelectList(Enum.GetValues(typeof(InstitutionType))), 
                    "Select Institution")*@
                <select class="form-control" id="InstitutionType" name="InstitutionType">
                    <option>--Select Institution Type--</option> 
                    <option>University</option> 
                    <option>School</option> 
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
